<h1><%= "Contagem regressiva para as férias !!! " %></h1>
<p>
	<%= "Em dias #{@vacances_calendar.days}" %>
</p>

<p>
	<%= "Em horas #{@vacances_calendar.hours}" %>
</p>

<p>
	<%= "Em segundos #{@vacances_calendar.seconds}"%>
</p>

<spam>
	<%= link_to "Atualizar", atualizar_path%>
</spam>